.video-tiles {
    display: flex;
    justify-content: center;
    
}

.tn-img-resize {
    width: 200px;
    height: auto;
  }

.video-title{
    font-size: 12px;
}

.channel-name{
    font-size: 12px;
}

.video {
    align-self: left;
}

